gunicorn
python-3.11.8
Flask
aiogram==3.2.0          # ربات تلگرام
aiohttp==3.8.5          # وبسرور و webhook
telethon==1.28.0        # userbot تلگرام
requests==2.31.0        # ارسال دیتابیس به bot
python-dotenv==1.0.0    # خواندن متغیرهای .env
