gunicorn
Flask
aiogram           # ربات تلگرام
aiohttp          # وبسرور و webhook
telethon        # userbot تلگرام
requests              # ارسال دیتابیس به bot
python-dotenv    # خواندن متغیرهای .env
